body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  font-size: 16px;
  line-height: calc(24 / 16);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style: none;
  margin: 0;
}

button {
  color: currentColor;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
}

address {
  font-style: normal;
}



.section {
}

.title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

/* Header */

.header {
}

.logo {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  color: #4d5ae5
}

.mark {
  color: #2e2f42;
}

.mark-two{
  color: #f4f4fd;
}

.nav {

}

.nav-list {

}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover, .nav-link:focus{
    color: #404BBF;
}

.contacts {
}

.contacts-link {
  color: #434455;
  letter-spacing: 0.02em
}

.contacts-link:hover, .contacts-link:focus{
    color: #404BBF;
}

/* Hero */

.hero-section {
  background-color: #2e2f42;
}

.hero-text {
  font-weight: 700;
  font-size: 56px;
  line-height: calc(60 / 56);
  letter-spacing: 2%;
  text-align: center;
  color: #ffffff;
  margin: 0 auto;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.hero-btn {
  background-color: #4d5ae5;
  color: #ffffff;
  margin-top: 48px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

.hero-cont {
  
}

/* Advantages */

.adv-list {
}

.adv-title {
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2
}

.adv-desc {
  letter-spacing: 0.02em;
  margin-top: 8px;
}

/* Team */

.team-section {
  background-color: #f4f4fd;
}

.team-list {
}

.team-item {
  background-color: #ffffff;
}

.team-image {
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);
  letter-spacing: 0.02em;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 8px;
  color: #2e2f42;

}

.team-position {
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
}

/* Portfolio */

.porfolio-list{

}

.portfolio-list-item{

}

.portfolio-card-img{

}

.portfolio-card-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-card-sub{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* footer */

.footer {
  background-color: #2e2f42;
}

.footer-logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  margin-bottom: 16px;
}

.footer-text {
  color: #f4f4fd;
  letter-spacing: 0.02em;
}
